@mixin browser_pre($name, $argument)
  #{$name}: $argument
  -webkit-#{$name}: $argument
  -moz-#{$name}: $argument
  -ms-#{$name}: $argument
  -o-#{$name}: $argument

@mixin background_gradient($from, $to, $height)
  background-color: $to
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to))
  background-image: -webkit-linear-gradient($from, $to)
  background-image: -moz-linear-gradient($from, $to)
  background-image: -o-linear-gradient($from, $to)
  background-image: -ms-linear-gradient($from, $to)
  background-image: linear-gradient($from, $to)
  background-repeat: repeat-x
  -webkit-background-size: 100% $height
  -moz-background-size: 100% $height
  -o-background-size: 100% $height
  background-size: 100% $height

=input_placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

@mixin border_radis($radius)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin margin($all)
  margin: $all

@mixin margin($top, $left)
  margin: $top $left

@mixin margin($top, $left, $bottom)
  margin: $top $left $bottom

@mixin margin($top, $left, $bottom, $right)
  margin: $top $left $bottom $right

@mixin flex($values)
  -webkit-box-flex: $values
  -moz-box-flex:  $values
  -webkit-flex:  $values
  -ms-flex:  $values
  flex: $values

@mixin order($val)
  -webkit-box-ordinal-group: $val
  -moz-box-ordinal-group: $val
  -ms-flex-order: $val
  order: $val

@mixin animate($params)
  animation: $params

@mixin perspective($perspective)
  transform: perspective($perspective)

@mixin rotate($degrees)
  transform: rotate($degrees)

@mixin rotateX($degrees)
  transform: rotateX($degrees)

@mixin rotateY($degrees)
  transform: rotateY($degrees)

@mixin rotateZ($degrees)
  transform: rotateZ($degrees)

@mixin scale($ratio)
  transform: scale($ratio)

@mixin scaleX($ratio)
  transform: scaleX($ratio)

@mixin scaleY($ratio)
  transform: scaleY($ratio)

@mixin translate($x: 0, $y: 0)
  transform: translate($x, $y)

@mixin skew($x: 0, $y: 0)
  transform: skew($x, $y)

@mixin translate3d($x: 0, $y: 0, $z: 0)
  transform: translate($x, $y, $z)

@mixin transformOrigin($origin)
  transform-origin: $origin

@mixin transition($time: 1s, $func: ease, $target: all)
  transition: $target $time $func

@mixin translateX($x: 0)
  transform: translateX($x)

@mixin translateY($y: 0)
  transform: translateY($y)

@mixin square($size)
  width: $size
  height: $size

@mixin cycle($size)
  @include square($size)
  border-radius: 50%
  overflow: hidden

@mixin enableGPU()
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
