.navbar-brand
  height: 77px
  padding: 0
  img
    width: 74px
    height: 77px
.navbar
  min-height: 77px
  margin-bottom: 0
.navbar-default
  background-color: rgba(227, 234, 238, 0.39)
  border: none
  .navbar-nav
    >li
      >a
        line-height: 50px
        height: 77px
        text-transform: uppercase
        color: #000000
        font-size: 22px
    &.navbar-right
      padding-right: 15px
      >li
        >a
          border: 2px solid #004a80
          margin-top: 12px
          line-height: 20px
          height: 52px
          @include border_radis(10px)