@media (max-width: 2560px) {
	
}
@media (max-width: 1440px) {
}
@media (max-width: 1280px) {
	
}
@media (max-width: 1024px) {
	.features .feature-image {
    width: 100%;
	}
}
@media (max-width: 768px) {

}
@media (max-width: 425px) {
	.banner .box-download {
    left: 0px;
    width: 100%;
	}
	.banner .box-form {
		right: 30px;
	}
	.banner .box-download {
    left: 0px;
	}
	.banner .box-download {
    width: 80%;
    left: 50px;
	}
	.features .feature-image {
    width: 100%;
	}
}
@media (max-width: 375px) {
	
}